body /*배경화면*/
{
    background-color: #b2bec3;
    color: #f5f6fa;
}

h1 /*시계*/
{
    margin-top: 200px;
    text-align: center;
    color: #f5f6fa;
    font-size: 60px;
    font-family: Cursive;
}
.weather/*날씨*/
{
    text-align: right;
}

.form
{
    animation: slideIn 1s linear, fadeIn 1s linear;
    outline:none;
    border: none;
    border-bottom: solid white;
    background: none;
    color: white;
}

.toDoForm /*텍스트 입력 칸*/
{
    animation: slideIn2 1s , fadeIn 1s linear;
    outline:none;
    border: none;
    border-bottom: solid white;
    background: none;
    color: white;
}

.toDoForm::placeholder, /*미리 입력되있는 글자*/
.form::placeholder
{
    color:white;
}

.formContainer /*form 위치*/
{
    display:none;
    text-align: center;
}

.toDoFormContainer
{
    text-align: center;
}
.toDoList /*리스트*/
{
    margin-left: 40%;
}

.greetings /*입력받은 이름*/
{
    margin-top: -3px;
    animation: fadeIn 1s linear;
    font-family: "돋움";
    font-size : 20pt;
    text-align: center;
    display: none;
}

.showing
{
    display: block;
}


.bgImage /*배경 이미지 설정*/
{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn 0.2s linear;
}

.btnImage
{
    
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes slideIn
{
    from
    {
        margin-top: 5%;
        
    }
    to
    {
        margin-top: 0%;
    }
}
@keyframes slideIn2
{
    from
    {
        margin-top: 0%;
        
    }
    to
    {
        margin-top: 0%;
    }
}